<ul nz-menu nzMode="inline">
  <li nz-submenu nzTitle="Navigation One" nzIcon="mail" nzOpen>
    <ul>
      <li nz-menu-group nzTitle="Item 1">
        <ul>
          <li nz-menu-item nzSelected>Option 1</li>
          <li nz-menu-item>Option 2</li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Item 2">
        <ul>
          <li nz-menu-item>Option 3</li>
          <li nz-menu-item>Option 4</li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Navigation Two" nzIcon="appstore">
    <ul>
      <li nz-menu-item>Option 5</li>
      <li nz-menu-item>Option 6</li>
      <li nz-submenu nzTitle="Submenu">
        <ul>
          <li nz-menu-item>Option 7</li>
          <li nz-menu-item>Option 8</li>
          <li nz-submenu nzTitle="Submenu">
            <ul>
              <li nz-menu-item>Option 9</li>
              <li nz-menu-item>Option 10</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Navigation Three" nzIcon="setting">
    <ul>
      <li nz-menu-item>Option 11</li>
      <li nz-menu-item>Option 12</li>
      <li nz-menu-item>Option 13</li>
    </ul>
  </li>
</ul>

<!--<ul nz-menu nzMode="inline" *ngFor="let category of categories">-->
<!--  <li *ngIf="category.siteUser.id==1" nz-submenu nzOpen nzTitle={{category.category_name}}>-->
<!--    <ul *ngFor="let link_collection of link_collections">-->
<!--      <li *ngIf="link_collection.category.categoryId==category.categoryId" nz-menu-item nzMatchRouter>-->
<!--        <div [routerLink]="['/link-collection',link_collection.linkCollectionId]">-->
<!--          {{link_collection.link_collection_name}}-->
<!--        </div>-->
<!--      </li>-->
<!--      <a class="popover"-->
<!--         nz-popover-->
<!--         [(nzPopoverVisible)]="visible"-->
<!--         (nzPopoverVisibleChange)="change($event)"-->
<!--         nzPopoverTrigger="click"-->
<!--         nzPopoverPlacement="right"-->
<!--         [nzPopoverContent]="contentTemplate"-->
<!--      >-->
<!--        ...-->
<!--      </a>-->
<!--      <ng-template #contentTemplate>-->
<!--        <div>이름 수정</div>-->
<!--        <br/>-->
<!--        <a (click)="delete(link_collection)">링크 모음 삭제</a>-->
<!--      </ng-template>-->
<!--    </ul>-->

<!--  </li>-->
<!--</ul>-->
